#icon1{
	width:400px;
	height:533px;
    background:url("../img/5.png") no-repeat;
    border: 0px;
}

#icon2{
	width:252px;
	height:221px;
    background: url("../img/6.png") no-repeat;
    border:0px;
}
